<div>
    <form (ngSubmit)="PostAPI()">

      <label for="gender">Genre</label>
      <select id="genre" name="genre"  [(ngModel)]="myUser.gender">
        <option value="M.">M.</option>
        <option value="Mme">Mme</option>
      </select>
      <br>
      <br>
      <label for="nom">Nom:</label>
      <input type="text" id="nom" name="nom" [(ngModel)]="myUser.name" required><br><br>
      
      <label for="prenom">Prénom:</label>
      <input type="text" id="prenom" name="prenom" [(ngModel)]="myUser.firstname" required><br><br>
      
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" [(ngModel)]="myUser.email" required><br><br>

      <label for="field4">N° de telephone:</label>
      <input type="number" id="phone" name="phone" [(ngModel)]="myUser.phone" required><br><br>

      <button type="submit">Soumettre</button>
    </form>
  </div>
<br><br><br><br>

<mat-form-field>
  <mat-label>Input</mat-label>
  <input matInput>
</mat-form-field>
<mat-form-field>
  <mat-label>Select</mat-label>
  <mat-select>
    <mat-option value="one">First option</mat-option>
    <mat-option value="two">Second option</mat-option>
  </mat-select>
</mat-form-field>