<form (ngSubmit)="PostAPI()">
  <div class="example-container">

  <mat-form-field>
    <mat-label>Genre</mat-label>
    <mat-select id="genre" name="genre" [(ngModel)]="myUser.gender">
      <mat-option value="M.">Mr</mat-option>
      <mat-option value="Mme">Mme</mat-option>
    </mat-select>
  </mat-form-field>
  </div>

  <div class="example-container">

  <mat-form-field>
    <mat-label>Prenom</mat-label>
    <input matInput [(ngModel)]="myUser.firstname" name="firstname" />
  </mat-form-field>
  </div>

  <div class="example-container">
  <mat-form-field>
    <mat-label>Nom</mat-label>
    <input matInput id="prenom" name="prenom" [(ngModel)]="myUser.name" name="name" />
  </mat-form-field>
  </div>

  <div class="example-container">
    <mat-form-field>
      <mat-label>Pseudo</mat-label>
      <input
        matInput
        #input
        maxlength="20"
        placeholder="sojuice"
        [(ngModel)]="myUser.pseudo"
        id="pseudo"
        name="pseudo"
      />
    </mat-form-field>
    </div>

    <div class="example-container">
  <mat-form-field>
    <mat-label>N° de telephone</mat-label>
    <input matInput [(ngModel)]="myUser.phone" name="phone" />
  </mat-form-field>
  </div>

  <div class="example-container">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        matInput
        placeholder="pat@example.com"
        [formControl]="email"
        [(ngModel)]="myUser.email"
        name="email"
        required
      />
      @if (email.invalid) {
      <mat-error>{{ getErrorMessage() }}</mat-error>
      }
    </mat-form-field>
  </div>
  <button type="submit" mat-raised-button>Soumettre</button>
  <!-- <button type="submit" mat-raised-button [disabled]="!email.valid">Soumettre</button> -->

</form>
