<h1>Découvrez le Tournoi  So'Juice - Osez l'Aventure !</h1>
<div>
<p>Formez des équipes de 7 personnes, Chaque équipe représentera son école dans nos Olympiades , incluant les sports principaux tels que le basket, le volley et le foot.</p>
</div>
<div>
<p>En plus de ces disciplines, des mini-jeux extra sportifs comme la balle au prisonnier, le saut dans des sacs, le jeu de la corde à tirer et la chaise musicale ajouteront une touche ludique au tournoi. L'objectif est de rassembler les étudiants de la technopôle Sophia Antipolis pour un moment de convivialité, de réunion et de dépassement de soi.</p>
</div>
<div>
<p>La compétition est également une collaboration avec l'application Duel, lançant sa beta test lors de l'événement. Rejoignez-nous pour une expérience sportive mémorable!</p>
</div>
