/* header{
    background-color: rgb(240, 200, 200);
    position: relative;
} */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FEEAE6; /* Change this to your desired header background color */
    padding: 1rem;
  }
  
  header a {
    text-decoration: none;
    color: #000; /* Change this to your desired link color */
    font-weight: bold;
    margin: 0 1rem;
  }
/*   
  header img {
    width: 200px; /* You can adjust this as needed */
  }
   */