<div style="position: relative;">
    <img src="../../assets/FC.png" alt="Background" style="width: 100%;">
    <h2 style="position: relative;  bottom: 62vh; left: 45vw; color: aliceblue; font-family: Arial, Helvetica, sans-serif; font-size: 50px ">
      SO' JUICE
      
      
</h2>


    <button mat-raised-button 
        color="warn"
            style="position: relative; bottom: 60vh; left: 45vw; color :"
            (click)="yourClickFunction()">
      Compose ton équipe
    </button>
  </div>
  