.overlay-container {
    position: relative;

    
  }
  
  .overlay-button {
    position: absolute;
    bottom: 20px; /* Adjust as needed */
    left: 20px; /* Adjust as needed */
    background-color: #FFF; /* Your desired button color */
    color: #000; /* Your desired text color */
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    
  }
  

  .shadow{
    box-shadow: inset 50px 50px 5àpx rgba(0, 0, 0, 0.311);

  }