<div style="position: relative;">
    <img src="../../assets/FC.png" alt="Background" style="width: 100%;">
    <h2 style="position: absolute; bottom: 400px; left: 500px; color: aliceblue; font-family: Arial, Helvetica, sans-serif; font-size: 50px ">
      SO' JUICE
      
      
</h2>


    <button mat-raised-button 
        color="warn"
            style="position: absolute; bottom: 350px; left: 500px;"
            (click)="yourClickFunction()">
      Compose ton équipe
    </button>
  </div>
  