<h1>Association -  so’juice Sport !</h1>
<div class="Pres1">
    <div class="TextPres">
    <p>Découvrez notre événement sportif intercampus sensationnel de l'année! Notre première édition sur deux jours vous réserve une compétition féroce, moments conviviaux et valeurs fortes.
   Relevez le défi du tournoi INTERCampus entre étudiants et plongez dans une expérience unique, mêlant compétition acharnée et moments inoubliables. 
Notre association, imprégnée de valeurs telles que la convivialité, le respect et le dépassement de soi, est sur le point de lancer son premier événement sur deux jours au Fort Carré d'Antibes, le 25 mai.</p>

</div>
<div>

<img src="../../assets/ballon.png" alt="" style="width: 50%;">
</div></div>
